.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text {
  /* position: absolute; */
  /* top: 50%;
  right: 50%;
  transform: translate(50%, -50%); */
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  user-select: none;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.slider-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-track {
  display: flex;
  align-items: center;
}

.dark .evaFvq {
  padding-top: 8px;
  color: white;
  background-color: rgb(31 41 55);
  border: 1px solid rgb(202 138 4);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
}

.dark .fpBGKh {
  border: 1px solid rgb(202 138 4);
  border-bottom: none;
  border-top: none;
}

.dark .fpBGKh::-webkit-scrollbar {
  width: 10px;
}

.dark .fpBGKh::-webkit-scrollbar-track {
  background: rgb(31 41 55);
}

.dark .fpBGKh::-webkit-scrollbar-thumb {
  background: rgb(17 24 39);
  border-radius: 10px;
}

.dark .fpBGKh::-webkit-scrollbar-thumb:hover {
  background: rgb(17 24 39);
}

.dark .mHisf {
  color: white;
  background-color: rgb(31 41 55);
}

.dark .kUMlDB {
  color: white;
  background-color: rgb(31 41 55);
}

.dark .fNLvxm  {
  color: white;
  background-color: rgb(31 41 55);
}

.dark .sc-khjJXkk {
  color: white;
  background-color: rgb(31 41 55);
}

.dark .kgOwiN {
  color: white;
  background-color: rgb(31 41 55);
}

.dark .hVPalX {
  color: white;
  background-color: rgb(31 41 55);
  border: 1px solid rgb(202 138 4);
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}